.alert-container {
  height: 600px;
  width: 900px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.alert-container button {
  width: 160px;
  height: 60px;
  font-size: 20px;
}
